<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<h1>Add Student</h1>

<form method="POST">

<label>Roll Number</label>
<input type="number" name="roll_no" required>

<label>Name</label>
<input type="text" name="name" required>

<label>Age</label>
<input type="number" name="age" required>

<label>Course</label>

<select name="course">

<option>MEDICAL</option>
<option>NONMEDICAL</option>
<option>GENERAL</option>
<option>GENERALWITHCS</option>

</select>

<button>Add Student</button>

</form>

<p>{{ message }}</p>

<a href="/">⬅ Home</a>

</div>

</body>
</html>